main {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;


}
main>aside{
    background: #6ca0d2;
    height: 100vh;
    width:20vw;
    position: absolute;
    animation: aside1 both 2s;

}
@keyframes aside1 {
    from{
        left: -20vw;
    }
    to{
        left: 0vw;
    }
}
main>section{
    position: absolute;
    height: 100vh;
    width:80%;
    left: 20vw;



}
main>section>article{

    width: 64vw;
    height: 60vh;
    position: absolute;
    top: 18vh;
    animation: articleani 2s both;
}
@keyframes articleani {
from{
    top: 10vh;;
}
    to{
        top: 18vh;
    }
}
body>main>section>nav{
    width: 64vw;
    height: 22vh;
    position: absolute;
    display: flex;
    top: -3vh;
    justify-content: flex-end;
    animation: navani both 2s;
}
@keyframes navani {
    from {
        top: -9vh;
    }
    to {
        top: -3vh;
    }
}
main>aside>img{
    position: absolute;
    height:70vh;
    margin: auto;
    top:0;
    bottom: 0;
    left: 10vw;
    border-radius:100px;
    box-shadow: #e294bc 4vh 2vw;
}
main>section>img{
    position: absolute;
    right:  0;
    height: 100vh;
    animation: waveani both 2s;
}
@keyframes waveani {
    from {
        right: -5vw;
    }
    to {
        right: 0vw;
    }
}
body>main>section>nav>a>div{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #e2ecf5;
    position: relative;
    margin-right: 85px;

}
body>main>section>nav>a>div>h1{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    font-size:30px;
    color: #6ca0d2;
    font-family: 'Rancho', cursive;
}
body>main>section>article>div{
    position: absolute;
    top: 0;
    left: 10vw;
    right: 0 ;
    bottom: 20vh;
    margin: auto;
    width: 30vw;
    height: 50vh;




}
body>main>section>article>div>div{
    display: flex;
}
body>main>section>article>div>div>div{
    width: 100%;
    height: 100%;



}
body>main>section>article>div>div>div>img{
    margin-left: 10px;
}
body>main>section>article>div>h1{
    font-size:60px;

}
body>main>section>article>div>h2{
    font-size:40px;

}
body>main>section>article>div> h1,h2,h3{

align-content: center;
    font-family: 'Rancho', cursive;
    color: #6ca0d2;
    margin: auto;
    width: max-content;
    height: max-content;
}
body>section{

    width: 100%;
    height: 100vh;
    position: relative;

}
body>section>article {
    width: 50%;
    height: 100%;
    position: absolute;

}
body>section>article>section {
    width: 70%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0 ;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);

}
body>section>article>section>div:nth-child(1){
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);

}
body>section>article>section>div:nth-child(1)>h1{
    position: relative;
    left: 5vw;
    font-family: 'Rancho', cursive;
    color: #6ca0d2;
}
body>section>article>section>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}

body>section>article:nth-child(2){
    right: 0;


}
body>section>article>h1{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 10vh;
    left: 5vw;
    margin: auto;
    font-size:50px;
    color: #6ca0d2;
    font-family:"Rancho";

}
body>section>article:nth-child(2)>img{
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body>section>h1{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 5vh;
    left: 5vw;
    margin: auto;
    font-size:50px;
    color: #6ca0d2;
    font-family:"Rancho";

}
body>section>div{
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70vw;
    height: 70vh;

}
body>section>div>div{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
body>section>div>div:nth-child(2){
    top:  50%;
}
body>section>div>div>a>div{
    border: #6ca0d2 1px solid;
    width: 15vw;
    height: 15vw;
    border-radius:100% ;
    background: #e2ecf5;
    position: relative;

}
body>section>div>div>a>div>img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3vw;
    /*height: max-content;*/
}
body>section>div>div>a>div>h2{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;

}
body>section>section{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 15vh;
}
body>section>section>div{
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10vw;
    margin: auto;
    width: 150px;
   height: 150px;
    border:#6ca0d2 1px solid;
}
body>section>section>div>img{
    width:150px ;
    border-radius: 100%;
}
body>section>img{
    width: 50%;
    position: absolute;
    bottom: 0;
}
body>section>img:nth-child(4){
    right: 0;
}
body>footer{
    width: 100%;
    height: 50vh;
    position: relative;
    background: url("assets/6.jpg");
}
body>footer>div{
    position: absolute;
    width: 100%;
    height: 50vh;
    background: #6ca0d2;
    top: 0;
    opacity: 80%;
}
body>footer>div>h1{
    font-size:3em;
    color: white;
    font-family: 'Rancho', cursive;
}
body>footer>div>div:nth-child(2){
    display: grid;
    width: 50vw;
    height: 70%;
    position: absolute;
    top: 20%;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
}
body>footer>div>div>h2{
    color: white;
}
body>footer>div>div:nth-child(2)>div{
    background: white;
    width: 20vw;
    height: 3em;
    position: relative;
    top: 1em;

}
body>footer>div>div>div:nth-child(6){
    height: 5em;
}
body>footer>div>div:nth-child(3){
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    right: 0;
    top: 20%;
    width: 40vw;
    height: 70%;
}
body>footer>div>div:nth-child(3)>div:nth-child(1){
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
}
body>footer>div>div:nth-child(3)>div:nth-child(1)>div>img{

    width: 3em;
}
body>footer>div>div:nth-child(3)>div:nth-child(2),div:nth-child(3){
    display: flex;

}
body>footer>div>div:nth-child(3)> div:nth-child(3)>h2{
    top: 0;
    position: relative;
    color: white;
}
body>footer>div>div:nth-child(3)>div:nth-child(2) >h2{
    color: white;
    top: 0;
    position: relative;
}